# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/

# Large image dataset dumps
crop_health_ml/data/raw/
crop_health_ml/data/train/
crop_health_ml/data/test/
crop_health_ml/data/validation/
crop_health_ml/data/processed/

# Python cache & environments
__pycache__/
*/__pycache__/
*.py[cod]
.venv/
venv/
env/

# Logs & temp
*.log
.DS_Store
Thumbs.db

# Local ML dataset
Plant_Disease_Dataset/
Plant_Disease_Dataset.zip
